<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <link rel="preload" href="https://storage.googleapis.com/socialmediumben-media-viewer/Door%20Close.mp4" as="video" type="video/mp4" crossorigin>
    <link rel="preload" href="https://storage.googleapis.com/socialmediumben-media-viewer/Door%20Open.mp4" as="video" type="video/mp4" crossorigin>
    
</head>
<body>
    <div class="controls">
        <input type="text" id="contentIdInput" placeholder="Enter Content ID">
        <button id="fetchMediaBtn">Show Media</button>
    </div>

    <div class="media-container">
        <h2 id="mediaTitle"></h2>
        <div id="mediaDisplay">
            </div>
    </div>

    <video id="transitionVideo" class="transition-overlay" muted playsinline preload="auto">
        </video>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>